
@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"), url("fonts/manrope/Manrope-Regular.woff2") format("woff2"), url("fonts/manrope/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"), url("fonts/manrope/Manrope-Bold.woff2") format("woff2"), url("fonts/manrope/Manrope-Bold.woff") format("woff");
}


@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Manrope"), url("fonts/manrope/Manrope-ExtraBold.woff2") format("woff2"), url("fonts/manrope/Manrope-ExtraBold.woff") format("woff");
}


/* Template styles */
*::placeholder{
	user-select: none;
}

::selection{
	background-color: #FD7C84;
  color: #fff;
}

html{
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 125%;
	outline: none !important;
	user-select: none;
}

input, .userSelect{
	user-select: text;
}

img{
	pointer-events: none;
}

b{
	font-weight: inherit;
}

button, span.theButton{
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	font-size: inherit;
}

.roller_box{
	display: flex !important;
	min-height: 250px !important;
	align-items: center !important;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
	margin-left: auto;
	margin-right: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FD939B;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


body{
	height: 100vh;
	background: #FFEAEB;
	color: #23292D;
	padding: 0;
	margin: 0;
	font-family: Manrope, Arial, sans-serif;
	font-weight: 400;
	overflow: hidden;
}
/* a:visited{
	color: #23292D;
} */

form{
	height: 100%;
	width: 100%;
}

.theTitle, .pageTitle, .pageSubtitle{
	cursor: default;
	user-select: none;
}

body .marginAuto{
	margin-left: auto;
	margin-right: auto;
}

.fontFamilyB{
	font-weight: 600;
}
.fontFamilyEB{
	font-weight: 800;
}


.appContainer{
	/* max-width: 600px; */
}

.mainContainer{
	width: 100%;
	height: 100%;
	/* max-width: 600px;
	margin-left: auto;
	margin-right: auto; */
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	/* overflow-x: hidden; */
	z-index: 15;
	/* overflow: hidden; */
}

.contentWrap{
	position: relative;
	/* height: 100%; */
	max-width: 600px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding-bottom: 16px !important; */
}
.contentWrap::after{
	position: relative;
	content: '';
	width: 100%;
	height: 62px;
	display: block;

}

.topWrap{
	border-radius: 0 0 12px 12px;
}
.midWrap{
	border-radius: 12px;
}
.bottomWrap{
	border-radius: 12px 12px 0 0;
}


.theButton{
	border: none;
	display: block;
	background: transparent;
	padding: 0;
	margin: 0;
	color: initial;
	font-size: 16px;
	cursor: pointer;
	transition: all .14s ease;
	border-radius: 8px;
	padding: 12px 16px;
	font-weight: 800;
	user-select: none;
	/* pointer-events: fill; */
	text-align: center;
}
.theButton:hover{}


.buttonBack{
	padding: 5px;
	width: 18px;
	min-width: 18px;
	height: 18px;
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../assets/icons/back.svg');
}

.buttonBack.theWhite{
	background-image: url('../assets/icons/arrow-left-w.svg');
}

.buttonFav{
	width: 24px;
	min-width: 24px;
	height: 24px;
	position: relative;
	/* background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	background-image: url('../assets/icons/bookmark.svg'); */
}
.buttonFav::before{
	content: '';	
	display: block;
	width: 24px;
	height: 24px;
	opacity: 1;
	visibility: visible;
	transition: all .2s ease;
	background-image: url('../assets/icons/bookmark.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 0;
}
.buttonFav::after{
	content: '';	
	display: block;
	width: 24px;
	height: 24px;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease;
	background-image: url('../assets/icons/bookmark-active.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 0;
}

.buttonFav.active::before{
	opacity: 0;
	visibility: hidden;
	/* background-image: url('../assets/icons/bookmark-active.svg'); */
}
.buttonFav.active::after{
	opacity: 1;
	visibility: visible;
	/* background-image: url('../assets/icons/bookmark-active.svg'); */
}


/* ButtonWatched */
.buttonWatched{
	width: 24px;
	min-width: 24px;
	height: 24px;
	position: relative;
	/* background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	background-image: url('../assets/icons/bookmark.svg'); */
}
.buttonWatched::before{
	content: '';	
	display: block;
	width: 24px;
	height: 24px;
	opacity: 1;
	visibility: visible;
	transition: all .2s ease;
	background-image: url('../assets/icons/viewed.svg');
	/* filter: grayscale(0.5); */
	opacity: .45;
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 0;
}
.buttonWatched::after{
	content: '';	
	display: block;
	width: 24px;
	height: 24px;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease;
	background-image: url('../assets/icons/done2.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 0;
}

.buttonWatched.active::before{
	opacity: 0;
	visibility: hidden;
	/* background-image: url('../assets/icons/bookmark-active.svg'); */
}
.buttonWatched.active::after{
	opacity: 1;
	visibility: visible;
	/* background-image: url('../assets/icons/bookmark-active.svg'); */
}


.buttonClose{
	padding: 5px;
	width: 18px;
	min-width: 18px;
	height: 18px;
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../assets/icons/close-g.svg');
}


.buttonTransparent{
	color: #FD7C84;
}
.buttonTransparent:hover{
	opacity: .8;
}
.buttonTransparent.disabled{
	opacity: .4;
	cursor: default;
}


.buttonPrimary{
	background-color: #FD7C84;
	color: #FFF;
}
.buttonPrimary:hover{
	background-color: #DF6068;
}
.buttonPrimary.disabled{
	opacity: 0.4;
	cursor: default;
}



.buttonSecondary{
	background-color: #FFEAEB;
	color: #FD7C84;
	
}
.buttonSecondary:hover{
	background-color: #FEDADD;
}
.buttonSecondary.disabled{
	opacity: 0.4;
	cursor: default;
}



.buttonTertiary{
	color: #FD7C84;
	background-color: #F3F5F6;
}
.buttonTertiary:hover{
	background-color: #E9EDEF;
}
.buttonTertiary.disabled{
	opacity: 0.4;
	cursor: default;
}



.buttonWhite{
	color: #FD7C84;
	background-color: rgb(255, 255, 255);
}
.buttonWhite:hover{
	background-color: rgba(255, 255, 255, 0.75);
}
.buttonWhite.disabled{
	opacity: .4;
	cursor: default;
}



.buttonConfirm, .buttonOptimal{
	min-width: 288px;
	max-width: 395px;
	width: max-content;
}



/* -------- Стили блоков --------- */

a{
	color: #FD7C84;
	text-decoration: none;
	transition: opacity .14s ease;
}
a:hover{
	opacity: .8;
}

.alignCenter{
	text-align: center;
}
.alignLeft{
	text-align: left;
}

.colorAccent{
	color: #FD7C84;
}

.fontSize12{
	font-size: 12px;
}
.fontSize14{
	font-size: 14px;
}
.fontSize16{
	font-size: 16px;
}
.fontSize20{
	font-size: 20px;
}
.fontSize32{
	font-size: 32px;
}

.infoWrap h1{
	font-size: 32px;
	margin-bottom: 24px;
	font-weight: 800;
}
.infoWrap h2{
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 800;
}
.infoWrap h3, .infoWrap h4, .infoWrap h5, .infoWrap h6{
	font-size: 16px;
	margin-bottom: 8px;
}
.infoWrap p, .infoWrap li, .infoWrap ul, .infoWrap ol, .infoWrap h1, .infoWrap h2, .infoWrap h3, .infoWrap h4, .infoWrap h5, .infoWrap h6, .infoWrap a{
 /* text-align: left; */
}

.infoWrap p{
	margin-bottom: 8px;
 }



 .errorWrap, .notificationWrap{
	position: fixed;
	bottom:  20px;
	left: 50%;
	background-color: #F74A4A;
	border-radius: 8px;
	padding: 10px;
	color: #FFF;
	max-width: 480px;
	width: calc(100vw - 32px);
	transform: translate(-50%, 0px);
	transition: all .45s ease;
	justify-content: space-between;
	z-index: 20;
 }
 .notificationWrap{
	background-color: #FD7C84;
 }
.errorWrap.ghostWrap, .notificationWrap.ghostWrap{
	transform: translate(-50%, 30px);
}
.errorWrap .button_wrap, .notificationWrap .button_wrap{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.errorWrap .separate, .notificationWrap .separate{
	height: calc(100% - 4px);
	width: 1.2px;
	background-color: #FFF;
	margin-right: 10px;
}
.errorWrap .close_button, .notificationWrap .close_button{
	padding: 5px;
	width: 24px;
	min-width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: calc(100% - 10px);
	background-image: url('../assets/icons/close.svg');
	margin-right: 7px;
}

 



 /* --------- Формы --------- */



.formWrap{
	max-width: 568px;
	margin: 0 auto;
	width: 100%;
}

.formWrap .inputWrap{
	padding-bottom: 26px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}
.formWrap .inputWrap.hiddenWrap{
	display: none;
}
.formWrap .inputWrap .label{
	font-size: 12px;
	margin-bottom: 4px;
	margin-left: 16px;
	user-select: none;
}
.formWrap .inputWrap .inputBox{
	position: relative;
	width: 100%;
}
.formWrap .inputWrap .inputBox::before{
	content: '';
	position: absolute;
	bottom: 6px;
	right: 8px;
	display: block;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background-image: url('../assets/icons/alert.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	opacity: 0;
	transition: all .24s ease;
	z-index: 10;
}
.formWrap .inputWrap .errorTitle{
	font-size: 12px;
	margin-left: 16px;
	margin-top: 4px;
	color: #F74A4A;
	position: absolute;
	bottom: 5px;
}

.formWrap .inputWrap input{
	position: relative;
	z-index: 5;
	width: 100%;
	border: none;
	padding: 14px 16px;
	box-shadow: 0px 16px 20px -8px rgba(253, 124, 132, 0.2);
	border-radius: 8px;
	border: 2px solid #FFF;
	transition: all .24s ease, letter-spacing .0s ease;
	outline: none;
	letter-spacing: .86px;
	box-shadow: 0px 16px 20px -8px rgba(253, 124, 132, 0.4);
	appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.formWrap .inputWrap.notValid input{
	border: 2px solid #F74A4A;
}
.formWrap .inputWrap.notValid .inputBox::before{
	opacity: 1;
}
.formWrap .inputWrap.notValid .theButton.buttonShowPass{
	right: 40px;
}


.formWrap .inputWrap input[type=text]{
	letter-spacing: .68px;
}
.formWrap .inputWrap input[type=password]{
	letter-spacing: 5px;
}
.formWrap .inputWrap input::placeholder{
	color: #23292D4D;
}
.formWrap .inputWrap input:focus, .formWrap .inputWrap input:focus-within, .formWrap .inputWrap input:active, .formWrap .inputWrap input:focus-visible, .formWrap .inputWrap input:target{
	border: 2px solid #FEABB0;
	transition: all .24s ease, letter-spacing .0s ease;
}

.formWrap .inputWrap .theButton.buttonShowPass{
	position: absolute;
	bottom: 6px;
	right: 8px;
	display: block;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	z-index: 10;
}
.formWrap .inputWrap .theButton.buttonShowPass::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url('../assets/icons/eye-on.svg');
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: all .24s ease right .0s ease;
}
.formWrap .inputWrap .theButton.buttonShowPass::after{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url('../assets/icons/eye-off.svg');
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	transition: all .24s ease right .0s ease;
}
.formWrap .inputWrap .theButton.buttonShowPass.active::before{
	opacity: 1;
}
.formWrap .inputWrap .theButton.buttonShowPass.active::after{
	opacity: 0;
}



.mainContainer.fixed{
	overflow: hidden;
}

.mainContainer .contentWrap .topLine{

	position: fixed;
	background-color: #ffffffa8;
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(35, 41, 45, 0.1);
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 16px;
	justify-content: space-between;
	z-index: 100;
	align-items: center;
}
.mainContainer .contentWrap .topLine .theButton{
	width: 100%;
	max-width: max-content;
	min-width: 20%;
}
.mainContainer .contentWrap .topLine .theButton.rightButton{
	text-align: right;
	padding-right: 4px;
}

.mainContainer .contentWrap .topLine .theTitle{
	cursor: default;
	width: 100%;
	max-width: max-content;
	min-width: 60%;
	margin-top: 12px;
	margin-bottom: 12px;
	font-size: 16px;
}



/* Elements */

/* ------- Другое -------- */

.popup_wrap .agile__track{
	padding: 0;
}

.agile__track{
	padding: 0 6px;
}
.agile__list .agile__slides{
	align-items: flex-start;
}


.popup_wrap .agile__list{
	height: 100%;
}
.popup_wrap .agile__track{
	height: 100%;
}


.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active{
  transition: all .32s cubic-bezier(0.52, 0.14, 0.41, 0.91);
	overflow: hidden;
}

.slide-left-enter {
  transform: translateX(100%);
	opacity: 0;
}

.slide-left-leave-to {
   transform: translateX(-100%);
	 opacity: 0;
}

.slide-right-enter {
  transform: translateX(-100%);
	opacity: 0;
}

.slide-right-leave-to {
   transform: translateX(100%);
	 opacity: 0;
}




.fade-enter-active,
.fade-leave-active {
  /* transition: opacity 0.2s cubic-bezier(1, 0.02, 0.69, 1); */
	transition: opacity 0.12s cubic-bezier(1,-0.14, 0.6, 0.99); 
	/* transition: opacity .34s cubic-bezier(1,-0.67, 0.66, 1.02); */
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0.02;
}


/* ------- Анимации -------- */

 /* 
.animate_click{
	transform: scale(1.001);
	transition: transform .27s cubic-bezier(0.15, 0.86, 0.45, 0.95);
}
.animate_click.clicked{
	transform: scale(.96) !important;
}
.animate_click:hover{
	transform: scale(1.001);
}
.animate_click.clicked{
	transform: scale(.96) !important;
}
.animate_click.clicked:hover{
	transform: scale(.96) !important;
}


.wave_click{
	overflow: hidden;
	position: relative;
}

.wave{
  background: rgba(255, 255, 255, .4);
  border-radius: 50%;
  transform: scale(0);
  animation: wave .32s linear;
  pointer-events: none;
  position: absolute;
}
@keyframes wave {
	100%{
  	transform: scale(2);
  	opacity: 0;
	}
}
  
	
.scale_hover{
	transform: scale(1.001);
	transition: transform .26s ease;
}
.scale_hover:hover{
	transform: scale(0.985);
}


.the_button:hover{
	color: #fff;
	background-color: #000;
}
.the_button.clicked{
	transform: scale(.985) !important
}
.the_button.clicked:hover{
	transform: scale(1.001)
}
.the_button.clicked.clicked{
	transform: scale(.856) !important
}	
.the_button.clicked.clicked:hover{
	transform: scale(.985) !important
} */





/* --------- Типы блоков ---------- */

.blockWrap{
	display: block;
}
.flexWrap{
	display: flex;
}
.gridWrap{
	display: grid;
}
.ghostWrap{
	opacity: 0;
	visibility: hidden;
	cursor: default;
}
.hiddenWrap{
	display: none;
}



/* --------- Отступы ---------- */

.padding10{
	padding: 10px;
}

.marginB12{
	margin-bottom: 12px;
}
.marginB20{
	margin-bottom: 20px;
}
.marginB30{
	margin-bottom: 30px;
}
.marginB50{
	margin-bottom: 50px;
}


/* ------ @Media ------- */

@media screen and (max-width: 600px) {
	.appContainer .mainContainer{
		background-color: #FFF;
	}
}

@media screen and (max-width: 550px) {

	body{
		font-size: 14px;
	}
	
	.fontSize12{
		font-size: 11px;
	}
	.fontSize14{
		font-size: 12px;
	}
	.fontSize16{
		font-size: 14px;
	}
	.fontSize20{
		font-size: 18px;
	}
	.fontSize32{
		font-size: 26px;
	}
	
	.theButton{
		font-size: 14px;
	}
	
	
}



@media screen and (max-width: 375px) {

/* body{
	font-size: 14px;
}

.fontSize12{
	font-size: 11px;
}
.fontSize14{
	font-size: 12px;
}
.fontSize16{
	font-size: 14px;
}
.fontSize20{
	font-size: 18px;
}
.fontSize32{
	font-size: 26px;
} */


.buttonConfirm, .buttonOptimal{
	min-width: 100%;
}

}

